<h1><%= @user.username %></h1>
<p><%= @user.bio %></p>

<% if !@user.interests.empty? %>
<p>
  <ul>
  <% @user.interests.each do |interest| %>
    <li><%= link_to interest.name, interest, class: "interest-badge" %></li>
  <% end %>
  </ul>
</p>
<% end %>

<% if logged_in? && @user != current_user %>
<p><%= link_to "Send a Message", new_user_message_path(@user), class: "send-message-btn" %></p>
<% end %>