<div class="jumbotron">
  <h1>Make Some New Friends.</h1>
  <h2>Find new friends to message and connect with.</h2>
  <p>
  <% if !logged_in? %>
    <%= link_to "Get Started", signup_path, class: "btn-dark" %>
  <% end %>
  <%= link_to "Browse Users", users_path, class: "btn-light" %>
  </p>

  <p class="users">
  <% @users.each do |user| %>
    <%= link_to user.username, user_path(user) %>
  <% end %>
  </p>
</div>