<footer class="footer">
  <p>
    &copy; <%= Date.current.year %> Mitul Mistry - <a href="https://github.com/MitulMistry/friend-finder" target="_blank">Github repo for this application</a>
  </p>
</footer>